<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольный вывод для тестов -->
        <Console name="Console" target="SYSTEM_OUT">
            <JSONLayout />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Корневой логгер — только в консоль -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Логи самого Kafka (в консоль) -->
        <Logger name="org.apache.kafka" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>