<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольный вывод для тестов -->
        <Console name="Console" target="SYSTEM_OUT">
            <JSONLayout compact="true" eventEol="true">
                <KeyValuePair key="traceId" value="${ctx:traceId}" />
                <KeyValuePair key="spanId" value="${ctx:spanId}" />
                <KeyValuePair key="service_name" value="${env:SERVICE_NAME:-gateway-service}" />
            </JSONLayout>
        </Console>

        <!-- Kafka Appender -->
        <Kafka syncSend="false" name="Kafka" topic="logs-topic">
            <JSONLayout compact="true" eventEol="true">
                <KeyValuePair key="traceId" value="${ctx:traceId}" />
                <KeyValuePair key="spanId" value="${ctx:spanId}" />
                <KeyValuePair key="service_name" value="${env:SERVICE_NAME:-gateway-service}" />
            </JSONLayout>
            <Property name="bootstrap.servers">${env:BOOTSTRAP_SERVERS_KAFKA:-localhost:9092}</Property>
            <Property name="acks">all</Property>
            <Property name="linger.ms">1000</Property>
        </Kafka>
    </Appenders>

    <Loggers>
        <!-- Корневой логгер -->
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Логи самого Kafka (в консоль) -->
        <Logger name="org.apache.kafka" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>